<!-- Validation failure messages -->
<% if @listing.errors.any? %>
  <% @listing.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Listing</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_listing" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for book_name -->
      <div class="form-group">
        <label for="book_name" class="control-label">
          Book name
        </label>

        <input type="text" id="book_name" name="book_name" placeholder="Book name" class="form-control" value="<%= @listing.book_name %>">
      </div>

      <!-- Label and input for version -->
      <div class="form-group">
        <label for="version" class="control-label">
          Version
        </label>

        <input type="text" id="version" name="version" placeholder="Version" class="form-control" value="<%= @listing.version %>">
      </div>

      <!-- Label and input for course_code -->
      <div class="form-group">
        <label for="course_code" class="control-label">
          Course code
        </label>

        <input type="text" id="course_code" name="course_code" placeholder="Course code" class="form-control" value="<%= @listing.course_code %>">
      </div>

      <!-- Label and input for required -->
      <div class="checkbox">
        <label for="required">
          <input type="checkbox" id="required" name="required" value="1" <%= "checked" if @listing.required %>>
          Required
        </label>
      </div>

      <!-- Label and input for price -->
      <div class="form-group">
        <label for="price" class="control-label">
          Price
        </label>

        <input type="text" id="price" name="price" placeholder="Price" class="form-control" value="<%= @listing.price %>">
      </div>

      <!-- Label and input for description -->
      <div class="form-group">
        <label for="description" class="control-label">
          Description
        </label>

        <input type="text" id="description" name="description" placeholder="Description" class="form-control" value="<%= @listing.description %>">
      </div>

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <input type="text" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= @listing.user_id %>">
      </div>

      <button class="btn btn-success">
        Create Listing
      </button>
      or
      <a href="/listings">Cancel</a>
    </form>
  </div>
</div>
